/* Custom Reset */
* {
  box-sizing: border-box;
  margin: 0;
}

body {
  line-height: 1.5;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

#root, #__next {
  isolation: isolate;
}

/* Main Layout */

.battleship-app {
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

.board-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.board {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid black;
  width: 402px;
  height: 400px;
}

/* Markers */

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: 1px solid black;
}

.ship {
  background: rgba(0, 0, 255, 0.5);
}

.hit-marker {
  width: 50%;
  height: 50%;
  border-radius: 50%;
  padding-bottom: 50%;
  background: red;
}

.miss-marker {
  width: 50%;
  height: 50%;
  border-radius: 50%;
  padding-bottom: 50%;
  background: grey;
}

.sunk {
  background: red;
}